/* Whole browser */

@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

body{
	text-align: center;
	margin: 0px auto;

}

.center{
	width: 1000px;
}




/* Menu */

.menu{
	background-color: #222931;
	width: 950px;
	font-size: 12px;
	font-weight: 500;
}

.menu li a{
	text-decoration: none;
	font-size: 14px;
}

.menu li{ display: inline-block; }
.menu ul{ margin: 0px; }