/* Whole browser */

body{
	margin: 0px;
	padding: 0px;
	font-family: 'Archivo', sans-serif;
}


.center{
	width: 1000px;
	margin: 0px auto;
}




/* If more than 1 div has a styling it gets stored here */

/* Background color dark grey */

.menu, .footerDiv, .sub-menu, .dienstenHomepage:hover, .ribbonHomepage button:hover{
	background-color: #222931;
}

/* Text color dark grey */

.ribbon button, .dienstenLink, .menu-items-div > a{
	color: #222931;
}

/* Text color white */

.menu li  a, .footerText, .dienstenHomepage:hover, .ribbonHomepage button:hover{
	color: #ffffff;
}

/* background color yellow */

.ribbon, .menu-items-div > div, .menu-items-div > a > div, .sub-menu-div a:nth-of-type(3):hover{
	background-color: #ffe718;
}

.menu, .ribbon  h2, .ribbon button, .sub-menu > a{
	font-weight: 500;
}

.ribbon h1, .ribbon h2{
	font-weight: 700;
}


/* Text styling */ /*
.menu ul li a, .mini-images > div > p{
	font-family: 'Archivo', sans-serif;
}




/* Menu */

.menu{
	position: absolute;
	width: 950px;
	font-size: 12px;
}

.menu li a{
	text-decoration: none;
	font-size: 14px;
}

.menu li{ 
	display: inline-block; 
	padding-right: 10px;
}

.menu ul{ 
	margin: 0px; 
}

.menu li, .menu ul li a{
	margin: 15px 7.5px;
}


/* Sub-menu (about) */

.sub-menu-div:hover .sub-menu{
  	display: block;
}

.sub-menu{
	background-color: #222931;
  	display: none;
  	position: absolute;
}


.sub-menu a{
	color: #aeb6be;
	text-decoration: none;
	float: left;
	font-weight: 500;
	font-size: 16px;
	width: calc(109.075px * 1.75);
	padding-left: 10px;
	padding: 5px 0px;
}

.sub-menu a:nth-of-type(3){
	margin-bottom: 10px;
}

.sub-menu-div button{
	background-color: inherit;
	font-family: inherit;
  	border: none;
  	outline: none;
	color: white;
  	font-size: 16px;
  	margin: 13px 0px;
}



.sub-menu a:nth-of-type(3):hover{
  	color: black;
}

.home, .sub-menu-div{
	float: left;
}



/* Text between the images (ribbon) */

.ribbon{
	margin: 50px 0px;
	padding: 30px 0px;
}

.ribbon h1{
	font-size: 34px;
	padding: 0px 20px 0px 200px;
	margin: 0px;
}

.ribbon h2{
	font-size: 16px;
}

.ribbon h1, .ribbon h2{
	display: inline-block;
}


.ribbon button{
	border: none;
	font-weight: 500;
	font-size: 12px;
	padding: 7.5px 34px;
	margin-left: 450px;
}




/* banner items */

.menu-items-div{
	display: block;
	position: relative;
	bottom: calc(183px / 4 * 1);
	text-align: center;
}

.menu-items-div > div, .menu-items-div > a > div{
	text-align: center;
	display: inline-block;
	width: 300px;
}

.menu-items-div > div > i, .menu-items-div > a > div > i{
	float: left;
	margin: calc(85.875px / 4) 0px 0px 20px;
}


.menu-items-div > div > h1, .menu-items-div > a > div > h1{
	font-size: 22px;
}

.menu-items-div div > p, .menu-items-div > a > div > p{
	font-weight: bold;
	font-size: 14px;
}

.menu-items-div > div > h1, .menu-items > p, .menu-items-div > a > div > h1{
	font-weight: 600;
}






.diensten{
	margin: 0px 46px;
}




/* Line between banner items and the text */

hr{
	margin-top: 50px;
}



/* Text inside the 'Over ons' and the 'Contact' elements */

.informationText{
	width: 550px;
}


.informationDiv{
	display: block;
	width: 1000px;
}

.informationText, .contact{
	display: inline-block;
}


/* Over ons element */

.informationText > h2, .informationContact > h2{
	margin: 50px 0px;
}


/* Contact element */


.informationContact{
	float: right;
	width: 200px;
	margin-right: 100px;
}

.informationContact > i{
	float: left;
	margin-right: 10px;
}





/* Footer */

.footerDiv{
	margin-top: 20px;
	padding: 15px 0px;
	

}

.footerText{
	text-align: right;
	margin-right: 200px;
}




/* Images */

.logo{
	margin-left: 40px;
}


.header{
	margin-top: calc(46.800px / 2);
	width: 100%;
}







.mini-images{
	margin-top: 50px;
	display: block;
}

.mini-images > div, .mini-images > div > a{
	width: 300px;
	display: inline-block;
	height: 200px;
	text-align: center;
}

.mini-image-middle{
	margin: 0px 46px;
}

.mini-images > div > p, .mini-images > div > a{
	background-color: rgba(34,41,49,0.8);
	color: white;
	font-weight: 600;
	line-height: 200px;
	font-size: 32px;
	width: 100%;
	opacity: 0;
	margin: 0;
}

.mini-images > div:hover p, .mini-images > div:hover a{
	opacity: 1;
}

.mini-images > div:hover a, .menu-items-div > a{
	text-decoration: none;
}



.footer{
	position: relative;
	margin-top: 50px;
	width: 100%;
}


.mini-image-left{
	background-image:url(img/banner-1.jpg);
}

.mini-image-middle{
	background-image:url(img/banner-2.jpg);
}

.mini-image-right{
	background-image:url(img/banner-3.jpg);
}




/* Diensten page */

.breadcrumb{
	margin-bottom: 50px;
}

.breadcrumb a{
	text-decoration: none;
	font-weight: 400;
	font-size: 12px;
}

.breadcrumb, .breadcrumb a{
	color: #5f656d;
}

.breadcrumbText{
	width: 900px;
}

.breadcrumbText p{
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}

.breadcrumbText span{
	color: #ffe718;
}

.informationTextDiensten p{
	color: #aeb6be;
}