/* Whole browser */

body{
	margin: 0px;
	padding: 0px;
	font-family: 'Archivo', sans-serif;
}


.center{
	width: 1000px;
	margin: 0px auto;
}




/* Menu */

.menu{
	background-color: #222931;
	position: absolute;
	width: 950px;
}

.menu li a{
	text-decoration: none;
	color: #ffffff;
	font-weight: 500;
	font-size: 12px;
}

.menu li{ 
	display: inline-block; 
	padding-right: 10px;
}

.menu ul{ 
	margin: 0px; 
}

.menu li, .menu ul li a{
	margin: 15px 7.5px;
}

.home, .sub-menu-div{
	float: left;
}


/* Sub-menu */

.sub-menu{
	background-color: #222931;
  	display: none;
  	position: absolute;
  	padding-bottom: 10px;
}

.sub-menu-div:hover .sub-menu{
  	display: block;
}


.sub-menu a{
	color: #aeb6be;
	text-decoration: none;
	float: left;
	font-weight: 500;
	font-size: 16px;
	width: calc(109.075px * 1.4);
	padding: 10px 5px;
}

.sub-menu a:nth-of-type(3):hover{
	background-color: #ffe718;
  	color: black;
}

.sub-menu-div button{
	background-color: inherit;
	font-family: inherit;
  	border: none;
  	outline: none;
	color: white;
 	font-weight: 500;
	font-size: 12px;
  	margin: calc(47.600px / 2.7) 0px;
}

.sub-menu-div:hover{
	background-color: #ffe718;
}



/* Ribbon */

.ribbon{
	background-color: #ffe718;
}

.ribbonHomePage{
	margin: 50px 0px;
}

.ribbonDienstenPage{
	margin: 125px 0px 20px;
}

.ribbonHomePage, .ribbonDienstenPage{
	padding: 30px 0px;
}

.ribbon h1{
	font-size: 34px;
	padding: 0px 20px 0px 200px;
	margin: 0px;
}

.ribbon h2{
	line-height: 24px;
	font-size: 16px;
}

.ribbon h1, .ribbon h2{
	font-weight: 700;
	display: inline-block;
}

.ribbon button{
	border: none;
	color: #222931;
	font-weight: 500;
	font-size: 12px;
	padding: calc(36.8px / 2 - calc(13.6px / 2)) 75px;
	margin-left: 450px;
}

.ribbonHomePage button:hover{
	background-color: #222931;
	color: #ffffff;
}




/* Footer buttons */

.menu-items-div{
	display: block;
	position: relative;
	bottom: calc(183px / 3);
}

.homepage-diensten-link{
	color: #222931;
	text-decoration: none;
}

.menu-items-div div{
	background-color: #ffe718;
	text-align: center;
	display: inline-block;
	width: 300px;
	margin: calc(46px / 3);
}

.dienstenHomePage:hover{
	background-color: #222931;
	color: #ffffff;
}

.menu-items-fonts{
	float: left;
	margin: calc(85.875px / 4) 0px 0px 20px;
}

.menu-items-title{
	font-size: 22px;
}

.menu-items-information{
	font-weight: bold;
	font-size: 14px;
}

.menu-items-title, .menu-items-information{
	font-weight: 600;
}




/* Text above the footer */

.informationDiv{
	display: block;
	width: 1000px;
}

.informationText{
	display: inline-block;
	width: 425px;
}

.informationText p, .informationContact{
	color: #5f656d;
	font-weight: 400;
	line-height: 18px;
	font-size: 12px;
}

.information-div-titles{
	font-weight: 600;
	font-size: 22px;
	margin: 50px 0px;
}

.informationContact{
	float: right;
	width: 200px;
	margin-right: 100px;
}

.informationContact p{
	margin-bottom: 0px;
}

.informationContact-fonts{
	float: left;
	margin: 3px 10px 0px;
}

.informationContact-fonts-mobile{
	margin-top: 10px;
}




/* Footer */

.footerDiv{
	background-color: #222931;
	padding: 15px 0px;
	margin-top: 20px;
}

.footerText{
	color: #ffffff;
	text-align: right;
	font-weight: 500;
	line-height: 24px;
	font-size: 16px;
	margin-right: 200px;
}




/* Only for the diensten page */


/* Breadcrumb */

.breadcrumb{
	color: #5f656d;
	margin: 50px 0px;
}

.breadcrumb-links{
	text-decoration: none;
	font-weight: 400;
	font-size: 12px;
}

.diensten-page-text-div{
	width: 900px;
}

.diensten-page-text-div h1{
	font-weight: 600;
	font-size: 34px;
	margin-top: 0px;
}

.diensten-page-text{
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}


.diensten-page-text-yellow{
	position: relative;
	display: inline-block;
	color: #ffe718;
}
  
.diensten-page-text-yellow-information{ 
	visibility: hidden;
	background-color: #aeb6be;
	color: #fff;
	position: absolute;
	font-size: 12px;
	font-weight: 400;
	width: 180px;
	padding: 10px 10px;
}

.nieuwbouw-information{
	margin-left: 5px;
}
  
.diensten-page-text-yellow:hover .diensten-page-text-yellow-information{
	visibility: visible;
}




/* Information above the footer */

.informationTextDiensten p{
	color: #aeb6be;
}




/* Images */

.logo{
	margin-left: 40px;
}


.header{
	margin-top: calc(46.800px / 2);
	width: 100%;
}


.footer{
	position: relative;
	margin-top: 50px;
	width: 100%;
}


.banner{
	margin-top: 50px;
	display: block;
}

.banner-images, .banner-diensten-link{
	width: 300px;
	display: inline-block;
	height: 200px;
	text-align: center;
}

.banner-diensten-link{
	text-decoration: none;
}

.banner-images-titles{
	background-color: rgba(34,41,49,0.8);
	color: white;
	font-weight: 600;
	line-height: 200px;
	font-size: 32px;
	width: 100%;
	opacity: 0;
	margin: 0;
}

.banner-images:hover .banner-images-titles{
	opacity: 1;
}

.banner-images-left{
	background-image:url(img/banner-1.jpg);
}

.banner-images-middle{
	background-image:url(img/banner-2.jpg);
	margin: 0px 46px;
}

.banner-images-right{
	background-image:url(img/banner-3.jpg);
}