/* Whole browser */

body{
	font-family: archivo;
	margin: 0px;
	padding: 0px;
}


.center{
	width: 1000px;
	margin: 0px auto;
}




/* Menu */

.menu{
	position: absolute;
	background-color: #222931;
	width: 950px;
	font-size: 12px;
}

.menu li a{
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
}

.menu li{ 
	display: inline-block; 
	padding-right: 10px;
	margin: 15px 7.5px;
}
.menu ul{ 
	margin: 0px; 
}




/* Text between the images */

.ribbon{
	background-color: #ffe718;
	margin: 50px 0px;
	padding: 30px 0px;
}

.ribbonTitle{
	font-size: 34px;
	margin: 0px;
	padding: 0px 20px 0px 200px;
}

.ribbonParagraph{
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
}

.ribbonTitle, .ribbonParagraph{
	display: inline;
	font-weight: 700;
	width: 100%;
}


.ribbonButton{
	color: #222931;
	border: none;
	font-weight: bold;
	font-size: 12px;
	padding: 7.5px 37.600px;
	margin-left: 450px;
}




/* banner items */

.menu-items > i{
	float: left;
	margin: calc(85.875px / 4) 0px 0px 20px;
}


.menu-items-div{
	display: block;
	position: relative;
	bottom: calc(183px / 4 * 1);
}

.menu-items{
	background-color: #ffe718;
	text-align: center;
	display: inline-block;
	width: 300px;
}

.menu-items > h1{
	font-size: 22px;
}

.menu-items > p{
	font-weight: bold;
	font-size: 14px;
}

.menu-items > h1, .menu-items > p{
	font-weight: 600;
}


.menu-items:nth-of-type(2):hover, .ribbonButton:hover{
	background-color: #222931;
	color: #ffffff;
}

.sub-menu > a:nth-of-type(3){
	margin-bottom: 5px;
}



/* Line between banner items and the text */

hr{
	margin-top: 50px;
}



/* Text inside the 'Over ons' and the 'Contact' elements */

.informationText{
	width: 525px;
}


.informationDiv{
	display: block;
	width: 1000px;
}

.informationText, .contact{
	display: inline-block;
}


/* Over ons element */

.informationText > h2, .informationContact > h2{
	margin: 50px 0px;
}


/* Contact element */


.informationContact{
	float: right;
	width: 200px;
	margin-right: 100px;
}

.informationContact > i{
	float: left;
	margin-right: 10px;
}





/* Footer */

.footerDiv{
	margin-top: 20px;
	padding: 15px 0px;
	background-color: #222931;

}

.footerText{
	color: #ffffff;
	text-align: right;
	margin-right: 200px;
}




/* Images */

.logo{
	margin-left: 40px;
}


.header{
	margin-top: calc(46.800px / 2);
}


.mini-image{
	margin-top: 50px;
	width: 300px;
}

.mini-image:hover{
	opacity: 0.5;
}

.mini-image-middle:hover{
	
}


.mini-image-middle, .diensten{
	margin: 0px 46px;
}


.header, .footer{
	width: 100%;
}










/* Position the button 'about' to the correct place */

.home, .sub-menu-div{
	float: left;
}




/* Style the button for the sub menu */

.sub-menu-div .sub-menu-button{
  	border: none;
  	outline: none;
  	font-family: inherit;
    color: white;
  	background-color: inherit;
  	font-size: 16px;
  	padding: 14px 16px;
}



/* Sub menu styling */

/* Add a yellow background if you hover over 'About' in the menu */

.sub-menu-div a:hover, .sub-menu-div:hover .sub-menu-button{
  	background-color: #ffe718;
}

/* Style the sub menu and the items in it */

.sub-menu{
  	display: none;
  	position: absolute;
  	background-color: #222931;
}

/* Style the sub menu items */

.sub-menu a{
	color: #aeb6be;
	text-decoration: none;
	float: left;
	width: 86px;
	padding-left: 10px;
}


/* Add a yellow background color on the sub menu items when you hover over it */

.sub-menu a:hover{
  	background-color: #ffe718;
  	color: black;
}

/* Open the sub menu when you hover over 'About' in the menu */

.sub-menu-div:hover .sub-menu{
  	display: block;
}